<!DOCTYPE html>
<!-- 我就知道有人会来看网页代码 -->
<html lang="zh-cn">
<%- partial('_partial/head') %>
<body nblog>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <% if (page.path === "index.html"){ %>
          <section class="blog-description">
            <span id="slogan"></span>
            <span class="description-links"><a href="https://github.com/NriotHrreion">GitHub</a> <a href="https://nin.red">主站</a> <a href="mailto:nriot233@gmail.com">邮箱</a></span>
          </section>
        <% } %>
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>